[Unit]
Description=checkupdates - Checks for updates periodically
Documentation=man:checkupdates

[Service]
Type=oneshot
ExecStart=/usr/bin/packman -Sy

[Install]
WantedBy=default.target
