[Unit]
Description=dwm - Dynamic Window Manager
Documentation=man:dwm(5)
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target

[Service]
Type=simple
# EnvironmentFile=%h/.config/dwm/env
ExecStart=/usr/local/bin/dwm
Restart=on-failure
RestartSec=2
TimeoutStopSec=10
