[Unit]
Description=A compositor for X11
Documentation=man:picom(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/picom

[Install]
WantedBy=dwm-session.target
