[Unit]
Description=Provides settings to X11 applications
Documentation=man:xsettingsd(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/xsettingsd

[Install]
WantedBy=sway-session.target
