* {
    border: none;
    border-radius: 0;
}

window#waybar {
    font-family: 'SF Pro Text';
    font-size: 14px;
    font-weight: 500;
    color: #fbf1c7;
    background: #282828;
}


#workspaces button {
    color: #928374;
    padding: 6px 3px;
    background: transparent;
    border-bottom: 3px solid transparent;
}

#workspaces button.visible {
    color: #fbf1c7;
    background: #282828;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    color: #fbf1c7;
    background: #282828;
    border-bottom: 3px solid #fbf1c7;
}

#window {
    margin-left: 16px;
}

#clock {
    margin-right: 16px;
    border-right: none;
}

#pulseaudio, #backlight, #battery, #cpu, #memory, #idle_inhibitor, #network, #tray, #custom-updates, #custom-battery, #custom-mail {
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 6px;
}

#memory.warning, #custom-battery.warning {
    background: #d79921;
}

#memory.critical, #custom-battery.critical {
    background: #cc241d;
}

#custom-battery.charging {
		background: #98971a;
}

#mode {
    padding: 0 10px 0 10px;
    background: #cc241d;
}
