snippet fcd "Functional Component, default export"
export default function ${1:Component}({...props}) {
	return (
		$0
	)
}
endsnippet

snippet fce "Functional Component, exported"
function ${1:Component}({...props}) {
	return (
		$0
	)
}

export { $1 }
endsnippet
