snippet fig "Figure env" b
\begin{figure}[ht]
	\centering
	\includegraphics[width=$1\textwidth]{$2}
	\caption{$3}
	\label{fig:$4}
\end{figure}
$0
endsnippet

snippet tab "Tabular env" b
\begin{table}
	\begin{center}
		\begin{tabular}{$3}
			$0
			\hline
		\end{tabular}
		\caption{$1}
		\label{tab:$2}
	\end{center}
\end{table}
endsnippet

snippet beg "Environment"
\begin{$1}
	$0
\end{$1}
endsnippet

