snippet tmpl
<template>
$0
</template>

<script>
export default {
  name: '`!p
import re
filename = fn.replace(".vue", "")
s1 = re.sub('(.)([A-Z][a-z]+)', r'\1-\2', filename)
snip.rv = re.sub('([a-z0-9])([A-Z])', r'\1-\2', s1).lower()
`',
}
</script>

<style scoped>

</style>
endsnippet
